:root {
  --grayBlue: #77829e;
  --gray: #f2f6ff;
  --blue: #1551e5;
  --darkBlue: #050d23;
  --darkBlueGray: #828ead;
  --darkGray: #8f9bb3;
  --lightGrayBlue: #c5cfe8;
  --purple: #ff3d71;
  --white: #ffffff;
  --lightGray: #f2f5f9;
  --lightBlue: #316cff;
}